/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-color: var(--main-bg-color);
  min-height: 100vh;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  top: 10px;
  right: 10px;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  bottom: 10px;
  left: 10px;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-columns: 1fr;
  justify-items: end;
  height: 100vh;
  padding: 10px;
  align-items: center;
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
  
}

.header__rec {
  position: absolute;
  display: inline-flex;
  right: 20px;
  top: 10px;
  text-transform: uppercase;
  font-size: 18px;
  align-items: center;
  gap: 10px;
  color: var(--accent-color);
}

.header__rec::after {
  content: '';
  background-color: var(--accent-color);
  width: 9px;
  height: 9px;
  border-radius: 50%;
}

.header__theme-menu {
  display: flex;
  grid-column: 1;
  grid-row: 1/2;
  justify-self: end;
  align-self: center;
  color: var(--accent-color);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0;
  font-family: var(--main-font-family);
}

.header__theme-menu-button {
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  padding: 3px 13px;
}

.header__theme-menu-button:hover {
  border-color: var(--accent-color);
}

.header__theme-menu-button:focus-visible {
  border-color: var(--accent-color);
  pointer-events: none;
}

.header__theme-menu-button_active {
  border-color: var(--accent-color);
  pointer-events: none;
}

.header__title {
  color: var(--header-logo-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
  grid-column: 1;
  grid-row: 2/3;
  justify-self: start;
  align-self: center;
}

.header__description {
  grid-column: 1;
  grid-row: 3/4;
  justify-self: start;
  align-self: center;
  display: block;
  font-weight: 700;
  line-height: normal;
}

.text-light {
  display: block;
  text-align: start;
}

.content {
  display: grid;
  gap: 50px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 40px;
}

.content-section {
  font-size: 18px;
  font-style: normal;
  line-height: 23.4px;
}

.section__why {
  display: grid;
}

.text-blocks,
.text-blocks__two,
.text-blocks__three {
  display: grid;
  gap: 20px;
  margin-top: 20px;
}

.text-block {
  display: grid;
  gap: 10px;
}

.content-section__title {
  color: var(--accent-color);
  font-weight: 700;
  font-size: 18px;
}

.text-block__title,
.text-block__subtitle {
  display: grid;
  background-color: var(--accent-color);
  color: var(--main-bg-color);
  font-size: 18px;
}

.text-block__title {
  font-weight: 700;
}

.text-block__subtitle {
  font-weight: 400;
  margin-top: 10px;
}

.text-block__content {
  color: var(--main-text-color);
}

.text-block__list {
  display: grid;
  gap: 10px;
}

.section__pictures {
  display: grid;
  grid-template-rows: repeat(5, minmax(min-content, max-content));
  gap: 10px;
  margin-top: 10px;
}

.section__pictures-img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.footer {
  display: grid;
  min-height: 668px;
  height: 100vh;
  align-items: center;
  margin-top: 40px;
}

.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 2px 2px 0 var(--accent-color);
  color: var(--footer-logo-color);
  line-height: 0.83;
  font-weight: 700;
  text-align: center;
}


@media (width >= 768px) {
  .header {
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    min-height: 1024px;
  }

  .decorated-zone::before {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }

  .decorated-zone::after {
    inset-inline-start: 20px;
    inset-block-end: 20px;
    margin-inline-start: 1px;
  }

  .header__rec {
    inset-block-start: 20px;
    inset-inline-end: 30px;
  }

  .header__theme-menu {
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
    justify-self: end;
  }
  
  .header__title {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .header__description {
    grid-column: 2;
    grid-row: 3;
  }

  .content {
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    display: grid;
  }

  .content-section {
    display: grid;
    gap: 20px;
  }

  .title-why,
  .title-advice {
    grid-column: 1;
    grid-row: auto;
  }

  .section__why,
  .section__advice {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }
  
  .text-blocks,
  .text-blocks__three {
    grid-column: 2;
    grid-row: inherit;
    margin-top: 0;
  }

  .section__causes {
    display: grid;
    grid-template-rows: min-content 2fr;
    grid-template-columns: min-content 1fr;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .title__causes {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .text-block__causes {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    margin-top: 0;
  }

  .pictures {
    margin-top: 29px;
    gap: 10px;
  }

  .section__pictures {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .section__pictures-img:nth-child(1) {
    grid-row: 1;
    grid-column: 1 / 3;
  }

  .section__pictures-img:nth-child(2) {
    grid-row: 1 / 3;
    grid-column: 3 / 4;
  }

  .section__pictures-img:nth-child(3) {
    grid-row: 2 / 4;
    grid-column: 1;
  }

  .section__pictures-img:nth-child(4) {
    grid-row: 2;
    grid-column: 2;
  }

  .section__pictures-img:nth-child(5) {
    grid-row: 3;
    grid-column: 2 / 4;
  }

  .footer {
    margin-top: 60px;
  }

}

@media (width >= 1024px) {
  .header {
    min-height: 768px;
  }

  .header__theme-menu {
    align-self: start;
    justify-self: center;
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
  }

  .header__title {
    grid-column: 1 / 3;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .content {
    padding-top: 57px;
  }

  .section__why,
  .section__advice {
    display: grid;
    grid-template-rows: 1fr;
    gap: 10px;
  }

  .section__causes {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .text-block__causes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    justify-content: center;
    align-items: start;
  }
  
  .text-block__two:nth-child(1) {
    grid-column: 1 / 2;
  }

  .text-block__two:nth-child(2) {
    grid-column: 2 / 3;
  }

  .text-block__two:nth-child(3) {
    grid-column: 3 / 4;
  }

  .footer {
    align-items: center;
    justify-content: center;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
